<div class="row">

<div class="col-md-3">
<%= image_tag "manuel.jpg", :class => "img-responsive img-thumbnail" %>
<h2>Manuel J. Tejada</h2>
<p>Senior at Michigan State University</p>
<p>Web designer and developer at SNworks</p>

</div>

<div class="col-md-9">

	<p class="lead">Hello! My name is Manuel José Tejada. I am a Web Designer and Front-end Developer from Santo Domingo, Dominican Republic.</p>
	<p>I have spent the last four years learning to cope with freezing temperatures by living in Michigan, where I am earning my Bachelor’s Degree in Media and Information concentrating in Interactive Media at Michigan State University.</p>
	<p>While at MSU, I’ve worked at <a href="http://getsnworks.com">SNworks</a> as a Web Designer and Developer. SNworks is a web development company by The State News, the university’s student newspaper, that creates websites for college media organizations around the country. We build fully-responsive sites that are developed using HTML5, CSS3, LESS, jQuery, Bootstrap, Grunt, Twig and Git, and powered by a proprietary Content Management System, Gryphon.</p>
	<p>I have worked on sites from sitemap and wireframes, to handling look and feel and user interface, to coding the final shipped product. I served as the lead designer in charge of bigger projects and training other designers. Aside from coding new sites, I also did development support for existing clients. I’ve designed and built sites for newspapers, magazines, radio stations, housing and dining guides, ‘best of’ voting sites and a national non-profit organization.</p>
	<p>I have experience and knowledge in the following languages: HTML5 and CSS3/LESS, JavaScript and jQuery, PHP, Ruby, Python and Java. I have also worked with templating languages like Twig and Liquid. I am experienced with front-end HTML frameworks like Bootstrap, Foundation and Gumby, as well as some back-end frameworks like Ruby on Rails and Groovy on Grails. I have built templates for various content management systems like Wordpress, Jekyll and Opencart.</p>
</div>

</div>